[Unit]
Description=birdNet main service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -u /home/pi/birdnetapp/main.py
User=pi

[Install]
WantedBy=multi-user.target
