[Unit]
Description=birdNet analyzer app
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/home/%i/birdnetapp/flask.sh
WorkingDirectory=/home/%i/birdnetapp/
User=%i

[Install]
WantedBy=multi-user.target
