[Unit]
Description=birdNet browser service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -m http.server 8000
WorkingDirectory=/home/%i/birdNet
User=%i

[Install]
WantedBy=multi-user.target
